.container_cart {
  height: calc(100vh - 179px);
  overflow-y: auto;
}

.list_cart {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.list_cart li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  color: #080a5e;
  border-left: solid 5px #080a5e;
}

.name,
.price {
  min-width: 100px;
  text-align: center;
  width: 15%;
}

.quantity_area {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantity {
  width: 15%;
  text-align: center;
  font-size: 20px;
}

.container_cart ul li img {
  width: 100px;
  height: 100px;
}

.buttons_cart {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.button_cart__decrease {
  height: 30px;
  width: 30%;
  font-size: 20px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  border: none;
  background-color: #f2738f;
  color: #fff;
  cursor: pointer;
}

.button_cart__decrease:hover {
  background-color: #fa255e;
}

.button_cart__increase {
  height: 30px;
  width: 30%;
  font-size: 20px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  border: none;
  background-color: #349e97;
  color: #fff;
  cursor: pointer;
}

.button_cart__increase:hover {
  background-color: #21d9cc;
}

.button_cart__delete {
  height: 30px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  border: none;
  background-color: #d1172a;
  color: #fff;
  cursor: pointer;
}

.button_cart__delete:hover {
  background-color: #f23549;
}

@media (max-width: 900px) {
  .button_cart__increase,
  .button_cart__decrease,
  .button_cart__delete {
    font-size: 15px;
    padding: 10px;
  }
}

@media (max-width: 750px) {
  .container_cart {
    height: calc(100vh - 165px);
  }

  .list_cart img {
    width: 50px;
    height: 50px;
  }

  .list_cart li {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .name,
  .price {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .quantity_area {
    width: 80%;
    text-align: center;
    margin-top: 10px;
  }

  .quantity {
    width: 25%;
  }

  .button_cart__increase,
  .button_cart__decrease {
    width: 25%;
  }

  .buttons_cart {
    width: 100%;
    margin-top: 20px;
  }

  .button_cart__delete {
    width: 30%;
  }

  .button_cart__increase,
  .button_cart__decrease,
  .button_cart__delete {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .container_cart {
    height: calc(100vh - 192px);
  }
}

@media (max-width: 350px) {
  .container_cart {
    height: calc(100vh - 178px);
  }
}
