ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #080a5e;
  color: #ffffff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.logo a {
  color: #ffffff;
  font-size: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 25px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li a {
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 750px) {
  .navbar {
    width: 50%;
	margin-right: 10px;
  }
}

@media (max-width: 350px) {
  .logo a {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
  }

  .menu li a {
    font-size: 18px;
  }
}
