.container {
  width: 100%;
  margin: 10px 0px;
}

.list_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.item_home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 415px;
  border-radius: 10px;
}

.item_home:hover {
  box-shadow: 0px 5px 15px #c2c2c2;
  transform: translate(0px, -20px);
  transition: 0.5s;
}

.name_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fa255e;
  color: #fff;
  height: 70px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.price_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #080a5e;
}

.img_home {
  margin: 20px;
  width: 70%;
  height: 50%;
}

.button_buy {
  height: 30px;
  width: 70%;
  font-size: 22px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  border: none;
  background-color: #349e97;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.button_buy:hover {
  background-color: #21d9cc;
}

@media (min-width: 1250px) {
  .list_home {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 750px) {
  .list_home {
    grid-template-columns: repeat(2, 1fr);
  }

  .img_home {
    width: 55%;
    height: 30%;
  }
}

@media (max-width: 450px) {
  .list_home {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 50px;
  }
}

@media (max-width: 300px) {
  .list_home {
    padding: 20px 40px;
  }
}
