.total_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #080a5e;
  color: #fff;
}

.total_area h2 {
  width: 70%;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.total_price {
  color: #fa255e;
  margin-left: 15px;
  font-size: 25px;
  text-align: center;
}

.total_button {
  background-color: #349e97;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
}

.total_button:hover {
  background-color: #21d9cc;
}

@media (max-width: 750px) {
  .total_area h2 {
    font-size: 20px;
  }

  .total_price {
    font-size: 20px;
  }

  .total_button {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .total_price {
    font-size: 20px;
    margin-left: 10px;
  }

  .total_button {
    font-size: 18px;
    width: 70%;
  }
}
