#container_cart ul {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

#container_cart ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    color: #080a5e;
}

#container_cart ul li h3{
    min-width: 100px;
}

#container_cart ul li img {
    width: 100px;
    height: 100px;
}


.button_cart {
	height: 30px;
	width: 20%;
	font-size: 22px;
	padding: 10px;
	box-sizing: content-box;
	border-radius: 5px;
	border: none;
	background-color: #349e97;
	color: #fff;
	cursor: pointer;
}

.button_cart:hover {
	background-color: #21d9cc;
}

@media (max-width: 750px){
    #container_cart img {
        width: 50px;
        height: 50px;
    }

    #container_cart li {
        flex-direction: column;
        justify-content: center;
    }

    #container_cart h2, h3 {
        margin-top: 10px;
    }

    .button_cart {
        width: 50%;
        margin-top: 10px;
    }
}

